[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EpiContactTrace"]
	path = EpiContactTrace
	url = https://github.com/stewid/epicontacttrace
[submodule "SimInf"]
	path = SimInf
	url = https://github.com/stewid/siminf
[submodule "rmatio"]
	path = rmatio
	url = https://github.com/stewid/rmatio
